.login {
    background-color: var(--background-botones);
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    width: 150px;
    font-family: var(--krub)
    
    

  }
  
  .login:hover {
    background-color: #1E5499;

  }
  @media screen and (max-width: 768px) {
    .login{
      padding: 0.5rem 1rem; /* Ajusta el padding */
      font-size: 14px; 
      width: 100%;
    }
  }
  @media screen and (max-width: 425px) {
    .login{
      padding: 0.3rem 1.5rem;
      width: 100%;
    }
  }
  

 