.titulo__container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  width: 100%;
}
.titulo__Principal {
    color: #2A7AE4;
    font-family: 'Krub', sans-serif;
    font-weight: 400;
    font-size: 36px;
    padding-bottom: 1rem;

  }
  .icon {
    font-size: 36px;
    margin-right: 10px;

  }
  
  @media screen and (max-width:768px) {
   
    .icon {
      font-size: 24px; 
  }
    
  }
    @media screen and (max-width: 425px) {
      .titulo__Principal {
        font-size: 24px;
  
      }
  
  .container__titulo{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: inherit;
  }
 
  

  }

