.banner {
    background: url('/assets/img/banner-panel.jpg') no-repeat center / cover;
        display: flex;
        height: 352px;
        padding: 32px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;
        align-self: stretch;



}
.banner__container{
    display: flex;
        width: 1136px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 16px;
}


@media screen and (max-width: 768px) {
    .banner{
        max-height: 200px;
    }
    
}
@media screen and (max-width: 425px){
    .banner{
        display: flex;
            height: 192px;
            padding: 16px;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            gap: 16px;
            align-self: stretch;
    }
        .banner__container {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 8px;
            align-self: stretch;
            width: 100%;
    
    
        }
     
}
