.banner__titulo {
    color: white;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    font-family: Raleway;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


}
.subtitulo__banner {
    color: white;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
@media screen and (max-width:768px) {
    .banner__titulo{
        font-size: 28px;
    }
    .subtitulo__banner{
     font-size: 18px;
    }
}
@media screen and (max-width:425px) {
    .banner__titulo{
        font-size: 22px;

    }
    .subtitulo__banner{
        font-size: 14px;


    }
}

