.banner__titulo{
    color: white;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    font-size: 52px;
    font-weight:600;
    font-style: normal;
    font-family: var(--Caprasimo);
    -webkit-text-stroke: 3px  #149ddd ;
    -webkit-text-fill-color: white; 
}

.subtitulo__banner {
    color: white;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    font-family: var(--Caprasimo);
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    -webkit-text-stroke: 1px  #149ddd ; 
    -webkit-text-fill-color: white; 
}
@media screen and (max-width:768px) {
    .banner__titulo{
        font-size: 28px;
    }
    .subtitulo__banner{
     font-size: 18px;
    }
}
@media screen and (max-width:425px) {
    .banner__titulo{
        font-size: 24px;
        -webkit-text-stroke: 1px  #149ddd ;

    }
    .subtitulo__banner{
        font-size: 15px;
        -webkit-text-stroke: .5px  #149ddd ;


    }
}

