.btn__banner{
  background-color: var(--background-botones);
  color: #FFFFFF;
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    border-radius: 30px;

}
.btn__banner:hover{
  background-color: #1E5499;
}

@media screen and (max-width: 768px) {
  .btn__banner {
      font-size: 10px;
      padding: 10px 20px;
     
  }
}

@media screen and (max-width: 425px) {
  .btn__banner {
    font-size: 10px; 
    padding: 6px 8px;
 
  }
}




