section.compra{
    padding: 2rem;
    background-color: #f5f5f5;

   
}
.contenedor__detalle--compra{
   display: flex;
   justify-content: center;
   gap: 30px;
}

.formcontato__subtext{
    font-size: 18px;
    font-family: Raleway;
    color:#333;

}

@media(max-width:768px){
  
   
}
@media(max-width:425px){
   section.compra{
    padding: 0;
 }
 .contenedor__detalle--compra{
    flex-direction: column;
 }
 .contacto__form{
   padding: 1rem;
}
   
}