.formcontato__title {
    font-size: 28px;
    margin-bottom: 1rem;
    font-family: "Raleway";
    color:#333;
}


.formcontato__subtext {
    font-family: "Raleway";
    color:#333;

}
.icon__compra{
    color:#2A7AE4;
    padding-right: 5px;
}



@media(max-width:425px){
    .formcontato__text{
        width: 100%;
        text-align: justify;
    }
    .formcontato__subtext {
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 20px;
        text-align: justify;

    }

}