.ver__mas {
  padding: 0.8rem 1.6rem;
  background:none;
  color: #2A7AE4;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  animation: pulse 2s infinite;
  font-family: "Raleway";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
  .icon__mas{
    margin-left: .1rem;
  }

  @media screen and (max-width: 425px) {
    .ver__mas{
      padding: 0.5rem 1.6rem;
      font-size: 14px;


    }
    
  }