.contacto__form {
    display: flex;
    flex-direction: row;
}
.subtitulo {
    color: #464646;
    font-family: Raleway;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 1rem;

}


.enviar__mensaje {
    padding: .7rem 2rem;
    background-color: #2A7AE4;
    width: 100%;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .enviar__mensaje:hover {
    background-color: #1E5499;
  }


@media screen and (max-width: 768px) {
    .contacto__home{
        width: 100%;
      
    }

    .enviar__mensaje{
        padding: 0.5rem 1.5rem; 
        font-size: 14px; 
        margin-left: 15px;
        width: 80%;
        
    }
    .subtitulo{
        padding-left: 12px;
    }
}

@media screen and (max-width: 425px) {
    .contacto__home{
        padding: 1rem;
    }
    .subtitulo{
        text-align: center;
        width: 100%;
        font-size: 22px;
        padding-bottom: 0;
    }
    fieldset{
        text-align: center;
        padding: 3rem;
        box-shadow:   4px 4px 4px rgba(0, 0, 0, 0.8);
      
    }
}