.input__container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 1rem;
  justify-content: flex-end;
  box-sizing: border-box;
}

.input {
  box-sizing: border-box;
  padding: 1.375rem 0.5rem 0.5rem;
  height: 3.25rem;
  width: 100%;
  border-radius: 7px;
}

.input::placeholder {
  visibility: hidden;
  color: #00000000;
}

.input-label {
  position: absolute;
  top: 1.375rem;
  left: 0.5rem;
  transition: all 0.25s;
  color: #A2A2A2;
  font-family: "Raleway";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.input:not(:placeholder-shown)+.input-label,
.input:focus+.input-label {
  font-size: 0.875rem;
  top: 0.25rem;
  transition: all 0.25s;
}

.input-message-error {
  display: none;
  font-family: "Raleway";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  padding-top: 5px;
}


.input-container--invalid .input-message-error {
  color: #df2525;
  display: block;
  padding-left: .5rem;

}

.input-container--invalid {
  margin-bottom: 0.5rem;
}

.input-container--invalid .input {
  border: 1px solid #df2525;
  border-radius: 7px;
}

.input-container--invalid .input-label {
  color: #df2525;
}


@media screen and (max-width: 768px) {
}

@media screen and (max-width: 425px) {
 
  
 
}
 

